@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Mark style by https://www.abeautifulsite.net/posts/a-clever-way-to-style-the-mark-element/ */
.mark-styled {
	background: linear-gradient(-100deg, hsla(48,92%,75%,.3), hsla(48,92%,75%,.7) 95%, hsla(48,92%,75%,.1));
	border-radius: 1em 0;
	padding: 0.5rem;
}
.mark-styled-sm {
	padding: 0.125rem 0.5rem;
}
